.contenedor{
    width: 900px;
    margin: 0 auto;
    
    }
header{

    margin: 0 auto;
    text-align: center;
}

.port{
    border-radius: 100%;
    }
p{
    font-size: 20px;
    margin: 5px 70px;
}

.hab div{
    padding: 5px 20px;
    margin: 20px;
    border: 1px solid #000;
    color: #FFF;
    background: #887f7f;
}

.html{
    width: 600px;
}
.css{
    width: 400px;
}
.JS {
    width: 200px;
}
.portafolio div{
    display: inline-block;
    clear: both;
    margin: 15px;
}

.portafolio div img{
    width: 250px;
     }